@import '../../../../default/common/defaultVariable.scss';
.wrapper-form {
    @extend %flex-centering;
    flex-direction: column;
    width: 90%;
    height: 100%;
}
.wrapper-credit-form {
    border: 2px solid black;
    height: 600px;
    background-color: rgba(122, 63, 63, 0.356);
}
.credit-form {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 580px;
}
.submit {
    position: absolute;
    width: 150px;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    @extend %flex-centering;
    border: 2px solid $secondary-color;
    background-color: $primary-color;
    color: $secondary-color;
    padding: 5px;
    cursor: pointer;
    &:hover {
        background-color: rgba(122, 63, 63, 0.938);
    }
}
.currency-wrapper{
    position: absolute;
    bottom: 91px;
    left: 138px;
}
.currency-wrapper select{
    background-color: $primary-color;
    color: $secondary-color;
    border: 2px solid $secondary-color;
}
.title{
    padding-right: 5px;
    font: {
        weight: bold;
    }
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
.loan-term{
    padding-left: 30px;
}
.loan-term select{
    background-color: $primary-color;
    color: $secondary-color;
    border: 2px solid $secondary-color;
}