@import '../../../default/common/defaultVariable.scss';
.footer-bank {
    @extend %flex-centering;
    height: $header-height;
    background-color: $primary-color;
    color: $secondary-color;
    flex: 0 0 auto;
}
