@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
%flex-centering {
    display: flex;
    justify-content: center;
    align-items: center;
}
$primary-color: rgb(65, 55, 63);
$header-height: 50px;
$secondary-color: #ffe4c9;
